/* Table Styling */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #000000;
    background-color: #DBDFFD;
    padding-top: 1%;
}

table {
    border-collapse: collapse;
}

h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
}

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: white;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: center;
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
    display: table;
}

.container td {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

th {
    padding-bottom: 2%;
    padding-top: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #646FD4;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #9BA3EB;
}

.container th {
    background-color: #242F9B;
}

.container td:first-child {
    color: white;
    font-weight: bold;
    text-align: left;
    width: 10em;
}

.container tr:hover {
    background-color: #083AA9;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

@media (max-width: 800px) {

    .container th{
        font-size: small;
    }
    .container td:first-child {
        width: 5em;
        font-size: small;
    }
}

/* Button Styling */
#btn_ubah{
    border-radius: 8px;
    background-color: #242F9B;
    color: white;
    border: 0px;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: 10%;
    cursor: pointer;
}

#btn_ubah:disabled{
    cursor: not-allowed;
}

#btn_pilih{
    border-radius: 8px;
    background-color: #242F9B;
    color: white;
    border: 0px;
    padding: 7px 10px;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 800px) {
    #btn_ubah{
        font-size: 12px;
        margin-left: 10%;
        padding: 10px 20px;
    }
}

/* Label Styling */
label{
    font-weight: bold;
    font-size: 24px;
    color: #083AA9;
}

#label1{
    padding-left: 10%;
}

@media (max-width: 800px) {
    label{
        font-weight: bold;
        font-size: 20px;
        color: #083AA9;
    }
}

/* Select Styling */
select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
}

@media (max-width: 800px) {
    select {
        width: 100%;
        min-width: 15ch;
        max-width: 30ch;
        border: 1px solid var(--select-border);
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.1;
        background-color: #fff;
    }
}

.box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.box input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}