@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    background-color: #FFF8BC;
}
.input {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.input input {
    width: 100%;
    padding: 10px;
    /* border: 1px rgba(255, 255, 255, 0.25); */
    border: 2px solid #F65A83;
    background: #FFF8BC;
    border-radius: 5px;
    outline: none;
    color: #000;
    font-size: 1em;
    transition: 0.5s;
}

.input span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.326);
    text-transform: uppercase;
    transition: 0.5s;
}

.input input:valid ~ span,
.input input:focus ~ span {
    color: #F65A83;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    font-weight: bold;
    padding: 0 10px;
    background: #FFF8BC;
    border-left: 2px solid #F65A83;
    border-right: 2px solid #F65A83;
    letter-spacing: 0.2em;
}

.input input:valid,
.input input:focus {
    border: 2px solid #F65A83;
}

#login {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    background-color: #F65A83;
    color: white;
    cursor: pointer;
    border: 2px solid #F65A83;
}

#container {
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-60%);
}

@media all and (max-width: 640px) {
    .input {
        display: block;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
    }
}